#
K8S_CLUSTERID=`oc get clusterversion -o jsonpath='{.items[].spec.clusterID}{"\n"}'`
K8S_DISTRIBUTION="Openshift"
VCENTER="<vcenter IP>"
VC_USER="administrator@vsphere.local"
VC_PWD="<vcenter password>"
VC_PORT="443"
VC_DATACENTER="<datacenter name where the ocp vms are resided>"
OCP_VM_PREFIX="<vm name prefix>"
#DataCneters can be a list of Datacenter names with comma separated values
#datacenters = "<datacenter1-path>, <datacenter2-path>, ..."
